<h1>Room {{room.tipoHabitacion}}</h1>

<div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">
  <div class="info-card-container">
    <img src="{{room.imagen}}" alt="Photo room">
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">
      <div fxFlex>
        Fecha entrada
        <angular2-date-picker [(ngModel)]="dateEntrada" [settings]="settings"></angular2-date-picker>
      </div>

      <div fxFlex>
        Fecha salida
        <angular2-date-picker [(ngModel)]="dateSalida" [settings]="settings"></angular2-date-picker>
      </div>
    </div>
    <br>
    <div fxFlex>
      <button mat-raised-button color="primary" (click)="login()">Confirmar reserva
        <mat-icon>payment</mat-icon>
      </button>
    </div>
    <app-crud [title]="title" [columns]="columns" [data]="reservas"></app-crud>
  </div>
</div>
