<h1>Room Suite</h1>

<div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">

  <div class="info-card-container">
    <img
      src="https://thumbnails.trvl-media.com/K3BoWkaFmlj67y-4hH9NRjMNlp8=/773x515/smart/filters:quality(60)/images.trvl-media.com/hotels/11000000/10620000/10611400/10611379/8a564c25_z.jpg"
      alt="Photo of a Shiba Inu">
  </div>


  <div fxFlex>
    <div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">

      <div fxFlex>
        Fecha entrada
        <angular2-date-picker [(ngModel)]="dateEntrada" [settings]="settings"></angular2-date-picker>
      </div>

      <div fxFlex>
        Fecha salida
        <angular2-date-picker [(ngModel)]="dateSalida" [settings]="settings"></angular2-date-picker>
      </div>
    </div>
    <br>
    <div fxFlex>
      <button mat-raised-button color="primary" (click)="login()">Confirmar reserva
        <mat-icon>payment</mat-icon>
      </button>
    </div>

    <h2>Reservas existentes</h2>

    <table style="width:100%">
      <tr>
        <th>Fecha Entrada</th>
        <th>Fecha Salida</th>
      </tr>
      <tr>
        <td>01-05-2018 8:00</td>
        <td>01-05-2018 12:00</td>
      </tr>
      <tr>
        <td>01-05-2018 8:00</td>
        <td>01-05-2018 12:00</td>
      </tr>
    </table>
  </div>
</div>
