<h1>Room {{room.tipoHabitacion}}</h1>

<div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">

  <div class="info-card-container">
    <img
    src="{{room.imagen}}"
      alt="Photo of a Shiba Inu">
      
  </div>


  <div fxFlex>
      
    <div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">

      

      <div fxFlex>
        Fecha entrada
        <angular2-date-picker [(ngModel)]="dateEntrada" [settings]="settings"></angular2-date-picker>
      </div>
      
      <div fxFlex>
        <mat-form-field>
          <mat-select placeholder="Horas" [(ngModel)]="totalHoras">
            <mat-option *ngFor="let hour of hours" [value]="hour.value">
              {{ hour.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <br>
    <div fxFlex>
      <button mat-raised-button color="primary" (click)="confirmarReserva()">Confirmar reserva
        <mat-icon>payment</mat-icon>
      </button>
    </div>
    <app-crud [title]="title" [columns]="columns" [deleteAction]="false" [readAction]="false" [data]="reservas"></app-crud>
  </div>
</div>
