<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content>
    <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort>
      <!-- Dynamic column -->
      <ng-container *ngFor="let def of columns" [matColumnDef]="def">
        <mat-header-cell *matHeaderCellDef>{{ def }}</mat-header-cell>
        <mat-cell *matCellDef='let row'>{{ row[def] }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let item; columns: columns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
